<html>
 
<form action="${system.baseURL}" method="post">
<input type="hidden" name="action" value="check_login">
<input type="hidden" name="temporaryLoginAccount" value="true">

	<table border="0" align="center">		
		<tr>
			<td colspan="2"><br></td>
		</tr>
		<tr>
			<td>userid</td>		
			<td><input style="width: 130px;" type="text" name="login_username" value="${data.login_username!""}"    ></td>			
		</tr>
		<tr>
			<td>password</td>			
			<td><input style="width: 130px;" type="password" name="login_password" value=""  ></td>			
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="submit"></td>			
		</tr>
	</table>
	
  
</form>

</html>