body {
  margin: 0px;
  font-family: Verdana, sans-serif;
  font-size: 11px;
  color: black;
  background-color: rgb(189,225,252); 
  background-image: url(img/saaksi.gif);
  background-repeat: no-repeat;
  background-position: 0px 30px;
}  

#header {
  width: 100%;
  background-color: rgb(253, 214, 136);
  border-right-style: double;
  border-right-width: 5px;
  height: 28px;
}
#lintuvaaraLink {
  position: absolute;
  left: 40px;
  top: 5px;
}

#lintuvaaraLink a {
  font-family: arial;
  font-size: 16px;
  text-decoration: none;
}
#lintuvaaraLink a:hover { 
  color: rgb(190,90,100);
  text-decoration: underline; 
}

#infoContainer {
  position: absolute; 
  right: 15px;
  top: 2px;
}

.main {
  /* min-width: 1500px; */
  margin-left: 30px;
  margin-top: 24px;
  margin-bottom: 200px; 
}

.main_menu {
  margin: 0px;
  padding-left: 70px;
  padding-bottom: 0px;
  white-space: nowrap;
}


.main_menu a {
  background-color: rgb(227,237,197);
  margin-left: 20px;
  border: 1px solid rgb(130, 130, 130);
  border-bottom-style: none;
  font-variant: small-caps;
  font-size: 13px;
  font-weight: bold;
  color: #CC0000;
  display: inline-block;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sub_menu {
  background-color: rgb(227,237,197);
  border: 2px solid rgb(130, 130, 130);
  border-bottom-style: double;
  border-bottom-width: 3px; 
}

.sub_menu div {
  border: 1px solid rgb(130, 130, 130);
  border-bottom-style: none;
  line-height: 30px;
  margin: 5px;
  margin-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  float: left;
  font-weight: bold;
  color: black;
  font-family: Verdana, sans-serif;
  font-size: 11px;
}
.sub_menu a {
  color: #CC0000;
}

.page_content {
  /* background-color: rgb(253, 234, 229); */
  background-color: rgb(255, 247, 245);
  padding: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(150,150,150);
  border-top-style: none;
  min-width: 850px;
}

table {   border-spacing: 0px; border-collapse: collapse; }
table, td { margin: 0px; padding: 0px; border-width: 0px; vertical-align: top; }
caption {  font-weight: bold; text-align: left; padding: 4px; }

.page_content table { 
  border-spacing: 2px; 
  border-collapse: separate;
}

.page_content td, .page_content th, .page_content caption  { 
  vertical-align: middle;
  /* background-color: rgb(253, 219, 203); */
  background-color: rgb(229,232,232); 
  padding: 4px;
}

.page_content th, .page_content caption  { 
  /* background-color: rgb(189,225,252); */
  background-color: rgb(212, 229, 255); 
  border: dotted 1px grey;
} 

a {
  font-weight: bold;
  text-decoration: underline;
  color: black;
  font-family: Verdana, sans-serif;
  text-align: center;
}

a:hover { color: #FF6600; }

.button-link {
  background-color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(130, 130, 130);
  
  font-size: 13px;
  font-weight: normal;
  color: black;
  margin-top: 40px;
}

p {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

h2 {
  font-size: 14px;
  margin: 5px;
  font-weight: bold;
  width: 100%;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

h3 {
  font-size: 12px;
  margin: 5px;
}

input, select, textarea, button {
  background-color: rgb(253,248,254);
  /* color: rgb(80,80,100); */
  border: 1px;
  border-style: solid;
  border-color: black;
  font-size: 13px;
}

input[type=text] {
  font-family: 'Lucida Console', Verdana, sans-serif;
  padding: 2px;
} 

input[type=submit], button, .button-link {
  color: #CC0000; 
  margin: 1px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

input:focus, select:focus, textarea:focus { background-color: rgb(210, 230, 255); }
button:focus, input[type=submit]:focus { background-color: rgb(255, 240, 210); }

ul { margin-top: 1px;  margin-bottom: 1px; } 

.button-link {
  border: 1px black solid;
  border-top: 0;
  text-decoration: none; 
}


textarea {
  font-family: Verdana, sans-serif;
}

.sameAsBackground td { background-color: rgb(255, 247, 245) }
.top { vertical-align: top; }

.success { font-weight: bold; color: green; font-size: 15px; }
.error { font-weight: bold; color: red; }
.error td { background-color: rgb(255, 247, 245); }
.errorfield { background-color: #ffaaaa; }
.notice { font-weight: bold; color: rgb(200,150,20); font-size: 14px; }

.file { 
  padding: 0px; padding-left: 10px; padding-right: 10px; 
  background-color: #FFE6B7; 
  margin-left: 20px;
}
.file a { color: rgb(250, 0, 0); } 
.file a:hover { color: #FF6600; }

.hidden { 
	display: none; 
}
#advancedSearch .hidden {
	position: absolute;
	left: -9999px; 
	display: inherit;
}

.more_results td { background-color: rgb(224, 230, 170); }
.show_more { font-weight: normal; font-size: 10px; } 


table.tablesorter {
	font-family:arial;
	font-size: 8pt;
	text-align: center;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	font-size: 8pt;
	padding: 4px;
	padding-right: 15px;
}
table.tablesorter thead tr .header {
	background-image: url(img/sort.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	padding: 4px;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
}
table.tablesorter thead tr .headerSortUp   { background-image: url(img/sort_up.gif); }
table.tablesorter thead tr .headerSortDown { background-image: url(img/sort_down.gif); }
table.tablesorter thead tr th, table.tablesorter tbody tr td { max-width: 160px; }

#advanced_search_table td { vertical-align: top; }  
#advancedSearch  select   { max-width: 230px;   } 


.haavi, .haavi td { background-color: rgb(240,240,234); vertical-align: middle; }
.haavi td { padding: 4px; }

.saved_searches { } 
.saved_searches img { border: none; margin-left: 5px; } 
.saved_searches table th { padding: 5px; }
.savedSearchesDescription { font-size: 10px; font-style:italic; }
.saved_searches td { padding: 5px; } 

 
.reports select { max-width: 100%; } 

#tarkastuslomake {
	min-width: 1200px;
}
#tarkastuslomake th { text-align: left; } 
#tarkastuslomake td { vertical-align: top; }
#tarkastuslomake input,  #tarkastuslomake select {
  margin-left: 3px;
  margin-right: 3px;
}
#tarkastuslomake table { 
  margin-bottom: 2px;
  /* background-color: rgb(210, 250, 250); */
  padding: 2px;
  padding-bottom: 5px;
  /* width: 100%; */
  height: 100%;
  min-width: 800px; 
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(100,100,150);
}
#tarkastuslomake table tr td table {
  border-style: none;
  margin-bottom: 0px;
  padding: 0px;
  height: 100%;
  min-width: 1px;
}
#tarkastuslomake .infoContainer,  #tarkastuslomake .infoContainer table {
  border-spacing: 1px; 
  border-collapse: separate; 
  min-width: 0px;  
}
#tarkastuslomake .infoContainer {
  padding-left: 10px; 
}
#tarkastuslomake .infoContainer caption {
  margin-left: 10px;
  border: solid 1px rgb(130, 130, 130); 
}
#tarkastuslomake .infoContainer th {
  border: solid 1px rgb(130, 130, 130);
}
#tarkastuslomake .infoContainer td {
  vertical-align: middle;
  border: solid 1px rgb(130, 130, 130); 
}
#tarkastuslomake .infoContainer table {
  border-style: none;
}
#tarkastuslomake .infoContainer a {
  font-weight: normal;
}
#section_menu { padding: 10px; }
#section_menu .section_menuitem {
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgb(218, 225, 175);
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: 2px;
}
#section_menu .selected { background-color: rgb(218, 245, 165); }


.kayntitaulu tr td {  vertical-align: middle; } 
.kayntitaulu select { max-width: 60px; min-width: 1px; } 
#lkm_tarkkuus select { max-width: 360px; min-width: 1px; }
#lopputulos select { max-width: 200px; min-width: 1px; }
/* .lkm_selection select { width: 40px; margin-top: 2px;} */

.lahetanappi {
  padding: 10px;
  color: black;
}

.noborders {
	border-spacing: 0px; 
	border-collapse: collapse;
	border-style: none;
}

.highlightedRow td {
  background-color:  rgb(200,255,255);
}

#historyActions, #historyActions_show {
	position: absolute;
	top: 30px;
	right: 2px;
	background-color: rgb(177, 190, 255);
	margin: 10px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border: solid 1px black;
	text-align: right;
}

#historyActions {
	background-color: rgb(255, 255, 255);
	padding: 20px;
}
#historyActions_show a {color: black; }

.sideMenu {
	width: 30px;
	background-color: black;
}

.changedValue {
  color: red;
  font-weight: bold;  
}

