<div class="submenu">
  <a href="${system.baseURL}?page=tablemanagement&amp;table=suuralue">${texts.menu_suuralueet}</a>  | 
  <a href="${system.baseURL}?page=tablemanagement&amp;table=aputaulu">${texts.menu_aputaulut}</a>  | 
  <a href="${system.baseURL}?page=tablemanagement&amp;table=kayttaja">${texts.menu_kayttaja}</a>
  <a href="${system.baseURL}?page=tablemanagement&amp;table=muutosloki&amp;action=search">Poistoloki</a>
</div>