#logo {
	margin-bottom: 15px;
}

#mainlogo {
	color: red; 
	font-weight: bold; 
	font-size: 200%;
}

div#menuContainer {
  width: 250px;
  padding-top: 10px;
}

div#contentContainer {
  margin-left: 250px;
  padding-left: 30px;
}

#menuContainer li:before {
	content: "» ";
}

#tapaukset li {
	display: block;
	margin-bottom: 5px;
	white-space: nowrap;
}

#tapaukset .count {
	font-weight: bold;
	color: grey;
	padding-left: 5px;
}

select { max-width: 240px; }
input[type="text"] { max-width: 240px; }


tr.linkki.even:hover td, tr.linkki.odd:hover td {
	background-color: rgb(220,220,250);
	cursor: hand; cursor: pointer;
}

.toolbox {
	margin: 20px;
	margin-left: 5px;
	border: 4px groove grey;
	border-radius: 5px;
	padding: 20px;
	min-height: 100px;
	background-color: rgb(253,248,214);
}

h1 { line-height: normal; }

#main_form th { 
	border-style: none;
	background-color: white;
	border-bottom: 1px dotted rgb(210,210,210);
	padding-top: 10px;
}
#main_form td { 
	background-color: white; 
	border-style: none;
}

#main_form table { width: 220px; }

#mustSave { display: none; }


.error td, .warning td { background-color: white; }

#main_form .coordinatePair_top td:first-child{
	border-top-left-radius: 5px;
	border-top: 1px dotted grey;
	border-top-right-radius: 50px;
}

#main_form .coordinatePair_bottom td:first-child {
	border-bottom-left-radius: 5px;
	border-bottom: 1px dotted grey;
	border-bottom-right-radius: 50px;
}

.sameAsChosenComponentHeight {
	height: 15px;
}
.sameAsInputHeight {
	height: 20px;
}
