body {
  margin: 5px;
  margin-top: 0px;
  margin-left: 0px;
  font-family: Verdana, sans-serif;
  font-size: 11px;
  color: #444;
  background-color: #FFF7E7;
  background-image: url(img/logo.gif);
  background-repeat: no-repeat;
  background-position: 1px 40px;
}  

#header {
  width: 100%;
  background-color: rgb(253, 214, 136);
  border-right-style: double;
  border-right-width: 5px;
  height: 28px;
  margin-bottom: 2px;
}
#lintuvaaraLink {
  position: absolute;
  left: 40px;
  top: 5px;
}

#lintuvaaraLink a {
  font-family: arial;
  font-size: 16px;
  text-decoration: none;
}
#lintuvaaraLink a:hover { 
  color: rgb(190,90,100);
  text-decoration: underline; 
}

#infoContainer {
  position: absolute;
  right: 15px;
  top: 2px;
}

.search { margin-left: 30px; }
.tablemanagement, .tarkastus, .reports, .kirjekyyhky_management  { margin-left: 70px; }

td, th { 
  background-color: #FFE6B7; 
  vertical-align: middle;
  font-size: 11px;
}

th { background-color: rgb(238,179,80);  } 

a {
  font-weight: bold;
  text-decoration: underline;
  color: #CC0000;
  font-family: Verdana, sans-serif;
  font-size: 13px;
  color: #444;
  text-align: center;
}
 
a:hover { color: #FF6600; }

.button-link, button, input[type=submit] {
  background-color: #FFF7E7;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px black;
  /* font-variant: small-caps; */
  text-decoration: none;
  font-size: 13px;
  font-weight: normal; 
  color: #CC0000;
  margin-top: 2px;
}
.button-link { padding: 5px; padding-left: 10px; padding-right: 10px;}

input:focus, select:focus, textarea:focus { background-color: rgb(210, 230, 255); }
button:focus, input[type=submit]:focus, .button-link:focus {  background-color: rgb(240, 240, 230); color: rgb(255,0,0); }
button:hover, input[type=submit]:hover, .button-link:hover {  background-color: rgb(255, 255, 255); color: rgb(255,0,0); }

img {  border: none;  } 

p {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

h2 {
  font-size: 14px;
  margin: 5px;
  font-weight: bold;
  width: 100%;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

h3 {
  font-size: 12px;
  margin: 5px;
}

input, select, textarea, button {
  background-color: #FFF7E7;
  /* color: rgb(80,80,100); */
  border: 1px;
  border-style: solid;
  border-color: black;
  font-size: 13px;
}

input[type=text] {
  font-family: 'Lucida Console', Verdana, sans-serif;
  padding: 2px;
} 

select { 
  /* font-family: Verdana, sans-serif; */
  /* max-width: 170px; */
  /* width: 170px; */
  max-width: 170px;  
}

textarea {
  font-family: Verdana, sans-serif;
}

.sameAsBackground { background-color: #FFF7E7; }
.top { vertical-align: top; }

.success { font-weight: bold; color: green; font-size: 15px; }
.error, .warning { font-weight: bold; color: red; }
.warning { color: rgb(200,130,20); }
.error td, .warning td { background-color: #FFF7E7; }
.errorfield { background-color: #ffaaaa; }
.warningfield { background-color: rgb(230,200,120); }
.ackWarning { color: green; }
.notice { font-weight: bold; color: rgb(200,150,20); font-size: 14px; }

table.warning, table.error { border: 1px dashed red; }

.file { 
  padding: 0px; padding-left: 10px; padding-right: 10px; 
  background-color: #FFE6B7; 
  margin-left: 20px;
}
.file a { color: rgb(250, 0, 0); } 
.file a:hover { color: #FF6600; }

.hidden { 
	display: none; 
}
#advancedSearch .hidden {
	position: absolute;
	left: -9999px; 
	display: inherit;
}

.more_results td { background-color: rgb(230, 200, 170); }
.show_more { font-weight: normal; font-size: 10px; } 


table.tablesorter {
	font-family:arial;
	font-size: 8pt;
	text-align: center;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	font-size: 8pt;
	padding: 4px;
	padding-right: 15px;
}
table.tablesorter thead tr .header {
	background-image: url(img/sort.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	padding: 4px;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
}
table.tablesorter thead tr .headerSortUp   { background-image: url(img/sort_up.gif); }
table.tablesorter thead tr .headerSortDown { background-image: url(img/sort_down.gif); }
table.tablesorter thead tr th, table.tablesorter tbody tr td { max-width: 160px; }

#advanced_search_table td { vertical-align: top; }  
#advancedSearch  select   { max-width: 230px;   } 


.haavi, .haavi td { background-color: rgb(240,240,234); vertical-align: middle; }
.haavi td { padding: 4px; }

.saved_searches { } 
.saved_searches img { margin-left: 5px; } 
.saved_searches table th { padding: 5px; }
.savedSearchesDescription { font-size: 10px; font-style:italic; }
.saved_searches td { padding: 5px; } 

.otsikko {
  font-weight: bold;
  font-size: 13px;
  margin: 0px;
  margin-bottom: 3px;  
  margin-top: 2px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(238,179,80);
}

.lahetanappi {
  height: 40px;
  font-size: 14px;
}

.tarkastuslomake {
  /* width: auto; */
   width: 1020px; 
}

.tarkastuslomake input { min-width: 50px; }
.paivays input { min-width: 0px; }

.tarkastuslomake table, .tarkastuslomake td {
  margin: 0px; 
  padding: 0px; 
  border-width: 0px;
  vertical-align: top;
  width: auto;
  background-color: #FFF7E7;
}
 
.tarkastuslomake table { 
  border-spacing: 0px; 
  border-collapse: collapse;
  width: 100%;
}
  
.tarkastuslomake td {
  border-width: 10px;
  border-color: rgb(0,0,0);
} 

.osiotaulu {
  border-style: solid; 
  border-width: 2px;
  border-color: rgb(100,100,100);
  margin: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px;
  width: auto;
  background-color: #FFE6B7;
}
  
.osiotaulu td {
  padding: 2px;
  background-color: #FFE6B7;
}
  
.kentta {
  border-style: solid; 
  border-width: 1px;
  border-color: rgb(100,100,100);
  height: 25px;
}
  
.kentta td { 
  vertical-align: middle; 
  min-width: 90px;
}
 
.relaskooppimittaukset td, .naytteet td {
  min-width: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(100,100,100);
  vertical-align: middle;
}

.relaskooppimittaukset th { background-color: #FFE6B7; }


.poikastaulu select { max-width: 130px; }
.poikastaulu input { max-width: 130px; }

.poikastaulu .kuvaus { min-width: 220px; } 

.poikastaulu td {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(100,100,100);
}
 
.ei-rajausta, .ei-rajausta td {
  border-style: none;
  width: auto;
}

.reports select { max-width: 100%; } 

.v_align_middle_table td { vertical-align: middle; padding-right: 30px; }

.reports caption {
  text-align: left;
   background-color: rgb(238,179,80);
   padding: 5px;
   font-weight: bold;
  
}


#historyActions, #historyActions_show {
	position: absolute;
	top: 30px;
	right: 2px;
	margin: 0px;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: right;
}

#historyActions {
	background-color: #FFE6B7; 
	padding: 20px;
	border: solid 1px black;
}
#historyActions_show a {color: black;  padding: 2px; }

.icon { 
	font-weight: bold; 
	font-size: 20px;
}
#historyActions table tr td, #historyActions table tr th { 
	text-align: left; 
	padding: 5px;
}

caption { 
 background-color: rgb(238,179,80);
 font-weight: bold;
 padding: 5px;
  border: 1px solid black;
}

.submenu {
	width: 100%;
	text-align: center;
	margin: 20px;
	margin-top: 5px;
}

.submenu a {
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	/* background-color: rgb(238,179,80); */
	margin-left: 10px;
	margin-right: 10px;
}

.kirjekyyhky_management table tr th, .kirjekyyhky_management table tr td {
  	padding: 5px;
}

.changedValue {
  color: red;
  font-weight: bold;  
}

.tarkastus th { border: solid 1px black; }


#lahiymparistonPesatContainer .infoContainer { 
	border-collapse: separate;
	border-spacing: 3px;
}
#lahiymparistonPesatContainer .infoContainer a {
	font-style: normal;
	font-size: 11px;
}
#lahiymparistonPesatContainer .infoContainer caption {
  border: solid 1px rgb(130, 130, 130); 
}
#lahiymparistonPesatContainer .infoContainer th {
  border: solid 1px rgb(130, 130, 130);
}
#lahiymparistonPesatContainer .infoContainer td {
  vertical-align: middle;
  border: solid 1px rgb(160, 160, 160); 
  text-align: center;
  padding: 4px;
}

.highlightedRow td {
  background-color:  rgb(200,255,255);
}

.popupBoxElement {
	position: fixed; 
	top: 5%; 
	left: 20%;
	background-color: white;
	padding: 40px;
	padding-top: 1px;
	padding-bottom: 30px;
	border: 3px solid black;
	text-align: right;
}

.kirjekyyhkyTools table {
	width: 50%;
}
.kirjekyyhkyTools td, .kirjekyyhkyTools th {
	padding: 3px;
}
.kirjekyyhkyTools th, .kirjekyyhkyTools caption {
	background-color: rgb(258,199,100);
}
