div#header {
  width: 100%;
  background-color: rgb(253, 214, 136);
  border-right-style: double;
  border-right-width: 5px;
  height: 28px;
}
#lintuvaaraLink {
  position: absolute;
  left: 40px;
  top: 5px;
}

#lintuvaaraLink a {
  font-family: arial;
  font-size: 16px;
  text-decoration: none;
}
#lintuvaaraLink a:hover { 
  color: rgb(190,90,100);
  text-decoration: underline; 
}

#infoContainer {
  position: absolute;
  right: 15px;
  top: 2px;
}