
table {   border-spacing: 0px; border-collapse: collapse; }
table, td { margin: 0px; padding: 0px; border-width: 0px; vertical-align: top; }
caption {  font-weight: bold; text-align: left; padding: 4px; }

.page_content table { 
  border-spacing: 2px; 
  border-collapse: separate;
}

.page_content td, .page_content th, .page_content caption { 
  vertical-align: top;
  background-color: rgb(242, 245, 253); 
  padding: 4px;
  border: 1px solid rgb(215,215,215);
}

.page_content th, .page_content caption { 
  background-color: rgb(255, 216, 139);
  border-color: rgb(115,115,115); 
}

input, select, textarea, button {
  background-color: rgb(253,248,254);
  border: 1px;
  border-style: solid;
  border-color: rgb(130, 130, 130);
  font-size: 13px;
}

input:focus, select:focus, textarea:focus { background-color: rgb(210, 230, 255); }
button:focus, input[type=submit]:focus { background-color: rgb(255, 240, 210); }

input[type=text] {
  font-family: 'Lucida Console', Verdana, sans-serif;
  padding: 2px;
} 

textarea {
  font-family: Verdana, sans-serif;
}

input[type=submit], button, .button-link {
  margin: 1px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: rgb(249, 245, 168);
}
input[type=submit]:hover, button:hover, .button-link:hover {
  border: 1px solid black;
  background-color: rgb(255, 255, 218);
  cursor: pointer;
}


.success { font-weight: bold; color: green; font-size: 15px; }
.error, .warning { font-weight: bold; color: red; }
.warning { color: rgb(200,130,20); }
.error td, .warning td { border-style: none; }
.errorfield { background-color: #ffaaaa; }
.warningfield { background-color: rgb(230,200,120); }
.ackWarning { color: green; }
.notice { font-weight: bold; color: rgb(200,150,20); font-size: 14px; }
.chosenErrorfield div { border: 2px solid #ffaaaa; border-radius: 5px; }

.file { 
	display: inline-block;
	background-image: url("img/pdf.png");
	background-position: 5px;
	background-repeat: no-repeat;
	padding: 10px; 
	padding-left: 40px;
}
.file a:hover { color: #FF6600; }
.file:before { content: "» "; }

.hidden { 
	display: none; 
}
#advancedSearch .hidden {
	position: absolute;
	left: -9999px; 
	display: inherit;
}

.more_results td { background-color: rgb(242, 251, 209); }
.show_more { font-weight: normal; font-size: 10px; } 


table.tablesorter {
	font-family:arial;
	font-size: 8pt;
	border-collapse: collapse;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	font-size: 8pt;
	padding: 4px;
	padding-right: 15px;
}
table.tablesorter thead tr .header {
	background-image: url(img/sort.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	padding: 4px;
	vertical-align: top;
}
table.tablesorter thead tr .headerSortUp   { background-image: url(img/sort_up.gif); }
table.tablesorter thead tr .headerSortDown { background-image: url(img/sort_down.gif); }
table.tablesorter thead tr th, table.tablesorter tbody tr td { max-width: 160px; }
table.tablesorter tr.even td { background-color: #ffffdc; }
table.tablesorter tr.odd td { background-color: white; }

#advanced_search_table td { vertical-align: top; }  
#advancedSearch  select   { max-width: 230px;   } 

#resultsTable .haavi { background-color: rgb(240,240,234); }
.haavi, .haavi td { background-color: rgb(240,240,234); vertical-align: middle; }
.haavi td { padding: 4px; }

.saved_searches { } 
.saved_searches img { border: none; margin-left: 5px; } 
.saved_searches table th { padding: 5px; }
.savedSearchesDescription { font-size: 10px; font-style:italic; }
.saved_searches td { padding: 5px; } 

 
.reports select { max-width: 100%; } 

.ohje { 
  font-weight: normal;
  font-size: 80%; 
} 

.highlightedRow td {
  background-color:  rgb(200,255,255);
}

#historyActions, #historyActions_show {
	position: absolute;
	top: 30px;
	right: 2px;
	background-color: rgb(177, 190, 255);
	margin: 10px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border: solid 1px black;
	text-align: right;
}

#historyActions {
	background-color: rgb(255, 255, 255);
	padding: 20px;
}
#historyActions_show a {color: black; }

.icon { 
	font-weight: bold; 
	font-size: 20px;
}
#historyActions table tr td, #historyActions table tr th { text-align: left; }

.changedValue {
  color: red;
  font-weight: bold;  
}



