body {
  margin: 0px;
  font-family: Verdana, sans-serif;
  font-size: 11px;
  color: black;
}  

.main {
  margin-left: 30px;
  margin-top: 24px;
  margin-bottom: 200px; 
}

.main_menu {
  margin: 0px;
  padding-left: 50px;
  padding-bottom: 0px;
  white-space: nowrap;
}

.main_menu a {
  background-color: rgb(255, 247, 245);
  margin-left: 15px;
  border: 1px solid rgb(130, 130, 130);
  border-bottom-style: none;
  font-variant: small-caps;
  font-size: 11px;
  font-weight: bold;
  color: black;
  display: inline-block;
  padding: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sub_menu {
  background-color: rgb(255, 247, 245);
  border: 2px solid rgb(130, 130, 130);
  border-bottom-style: double;
  border-bottom-width: 3px; 
}

.sub_menu div {
  border: 1px solid rgb(130, 130, 130);
  border-bottom-style: none;
  line-height: 30px;
  margin: 5px;
  margin-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  float: left;
  font-weight: bold;
  color: black;
  font-family: Verdana, sans-serif;
  font-size: 11px;
}
.sub_menu a {
  color: black;
}

.page_content {
  background-color: rgb(255, 247, 245);
  padding: 15px;
  border: 2px solid rgb(130, 130, 130);
  border-top-style: none;
  min-width: 850px;
  padding-bottom: 50px;
}


a {
  font-weight: bold;
  text-decoration: underline;
  color: rgb(150, 50, 50);
  font-family: Verdana, sans-serif;
  text-align: center;
}

a:hover { color: #FF6600; }


p {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

h2 {
  font-size: 14px;
  margin: 5px;
  font-weight: bold;
  width: 100%;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

h3 {
  font-size: 15px;
  margin: 5px;
  margin-top: 15px;
  font-variant: small-caps;
  border-top: solid 2px black;
  color: black;  
  padding: 3px;
  margin-left: 0px;
  /* text-shadow: 1px 2px 0 #000000; */
  /* text-shadow: 0px 0 black, 0 2px black, 2px 0 black, 0 0px black; */
}

ul { margin-top: 1px;  margin-bottom: 1px; } 

.top { vertical-align: top; }

