body {
  margin: 0px;
  font-family: Verdana, sans-serif;
  font-size: 11px;
  color: black;
  background-color: rgb(176, 182, 187);
  background-image: url(img/peto.gif);
  background-repeat: no-repeat;
  background-position: 0px 30px;
}  

#header {
  width: 100%;
  background-color: rgb(253, 214, 136);
  border-right-style: double;
  border-right-width: 5px;
  height: 28px;
}
#lintuvaaraLink {
  position: absolute;
  left: 40px;
  top: 5px;
}

#lintuvaaraLink a {
  font-family: arial;
  font-size: 16px;
  text-decoration: none;
}
#lintuvaaraLink a:hover { 
  color: rgb(190,90,100);
  text-decoration: underline; 
}

#infoContainer {
  position: absolute;
  right: 15px;
  top: 2px;
}

.main {
  /* min-width: 1500px; */
  margin-left: 30px;
  margin-top: 24px;
  margin-bottom: 200px; 
}

.main_menu {
  margin: 0px;
  padding-left: 50px;
  padding-bottom: 0px;
  white-space: nowrap;
}

.main_menu a {
  background-color: rgb(255, 247, 245);
  margin-left: 15px;
  border: 1px solid rgb(130, 130, 130);
  border-bottom-style: none;
  font-variant: small-caps;
  font-size: 11px;
  font-weight: bold;
  color: black;
  display: inline-block;
  padding: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sub_menu {
  background-color: rgb(255, 247, 245);
  border: 2px solid rgb(130, 130, 130);
  border-bottom-style: double;
  border-bottom-width: 3px; 
}

.sub_menu div {
  border: 1px solid rgb(130, 130, 130);
  border-bottom-style: none;
  line-height: 30px;
  margin: 5px;
  margin-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  float: left;
  font-weight: bold;
  color: black;
  font-family: Verdana, sans-serif;
  font-size: 11px;
}
.sub_menu a {
  color: black;
}

.page_content {
  background-color: rgb(255, 247, 245);
  padding: 15px;
  border: 2px solid rgb(130, 130, 130);
  border-top-style: none;
  min-width: 850px;
  padding-bottom: 50px;
}

table {   border-spacing: 0px; border-collapse: collapse; }
table, td { margin: 0px; padding: 0px; border-width: 0px; vertical-align: top; }
caption {  font-weight: bold; text-align: left; padding: 4px; }

.page_content table { 
  border-spacing: 2px; 
  border-collapse: separate;
}

.page_content td, .page_content th, .page_content caption { 
  vertical-align: middle;
  background-color: rgb(242, 245, 253); 
  padding: 4px;
  border: 1px solid rgb(215,215,215);
}

.page_content th, .page_content caption { 
  background-color: rgb(177, 190, 255);
  border-color: rgb(115,115,115); 
} 

a {
  font-weight: bold;
  text-decoration: underline;
  color: rgb(150, 50, 50);
  font-family: Verdana, sans-serif;
  text-align: center;
}

a:hover { color: #FF6600; }

.button-link {
  background-color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(130, 130, 130);
  
  font-size: 13px;
  font-weight: normal;
  color: black;
  margin-top: 40px;
}

p {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

h2 {
  font-size: 14px;
  margin: 5px;
  font-weight: bold;
  width: 100%;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

h3 {
  font-size: 15px;
  margin: 5px;
  margin-top: 15px;
  font-variant: small-caps;
  border-top: solid 2px black;
  color: black;  
  padding: 3px;
  margin-left: 0px;
  /* text-shadow: 1px 2px 0 #000000; */
  /* text-shadow: 0px 0 black, 0 2px black, 2px 0 black, 0 0px black; */
}

input, select, textarea, button {
  background-color: rgb(253,248,254);
  /* color: rgb(80,80,100); */
  border: 1px;
  border-style: solid;
  border-color: rgb(130, 130, 130);
  font-size: 13px;
}

input:focus, select:focus, textarea:focus { background-color: rgb(210, 230, 255); }
button:focus, input[type=submit]:focus { background-color: rgb(255, 240, 210); }

input[type=text] {
  font-family: 'Lucida Console', Verdana, sans-serif;
  padding: 2px;
} 

input[type=submit], button, .button-link {
  color: #CC0000; 
  margin: 1px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

ul { margin-top: 1px;  margin-bottom: 1px; } 

.button-link {
  border: 1px black solid;
  border-top: 0;
  text-decoration: none; 
}


textarea {
  font-family: Verdana, sans-serif;
}

.top { vertical-align: top; }

.success { font-weight: bold; color: green; font-size: 15px; }
.error, .warning { font-weight: bold; color: red; }
.warning { color: rgb(200,130,20); }
.error td, .warning td { background-color: rgb(255, 247, 245); border-style: none; }
.errorfield { background-color: #ffaaaa; }
.warningfield { background-color: rgb(230,200,120); }
.ackWarning { color: green; }
.notice { font-weight: bold; color: rgb(200,150,20); font-size: 14px; }

table.warning, table.error { border: 1px dashed red; }

.file { 
  padding: 0px; padding-left: 10px; padding-right: 10px; 
  background-color: #FFE6B7; 
  margin-left: 20px;
}
.file a { color: rgb(250, 0, 0); } 
.file a:hover { color: #FF6600; }

.hidden { 
	display: none; 
}
#advancedSearch .hidden {
	position: absolute;
	left: -9999px; 
	display: inherit;
}

.more_results td { background-color: rgb(242, 251, 209); }
.show_more { font-weight: normal; font-size: 10px; } 


table.tablesorter {
	font-family:arial;
	font-size: 8pt;
	text-align: center;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	font-size: 8pt;
	padding: 4px;
	padding-right: 15px;
}
table.tablesorter thead tr .header {
	background-image: url(img/sort.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	padding: 4px;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
}
table.tablesorter thead tr .headerSortUp   { background-image: url(img/sort_up.gif); }
table.tablesorter thead tr .headerSortDown { background-image: url(img/sort_down.gif); }
table.tablesorter thead tr th, table.tablesorter tbody tr td { max-width: 160px; }

#advanced_search_table td { vertical-align: top; }  
#advancedSearch  select   { max-width: 230px;   } 

#resultsTable .haavi { background-color: rgb(240,240,234); }
.haavi, .haavi td { background-color: rgb(240,240,234); vertical-align: middle; }
.haavi td { padding: 4px; }

.saved_searches { } 
.saved_searches img { border: none; margin-left: 5px; } 
.saved_searches table th { padding: 5px; }
.savedSearchesDescription { font-size: 10px; font-style:italic; }
.saved_searches td { padding: 5px; } 

 
.reports select { max-width: 100%; } 

#tarkastuslomake {
	min-width: 1400px;
}
#tarkastuslomake table { 
  border-spacing: 0px; 
  border-collapse: collapse; 
  height: 100%;
  min-width: 800px;
  margin: 0px;
}
#tarkastuslomake caption {
   border: solid 1px rgb(130, 130, 130);
}
#tarkastuslomake th { 
  text-align: left; 
  border: solid 1px rgb(130, 130, 130); 
  border-bottom-style: none;
} 
#tarkastuslomake td { 
  vertical-align: top;
  border: solid 1px rgb(130, 130, 130); 
  border-top-style: none;
}
#tarkastuslomake input,  #tarkastuslomake select {
  margin-left: 3px;
  margin-right: 3px;
}
#tarkastuslomake table tr td table {
  border-style: none;
  height: 100%;
  min-width: 1px;
}
#tarkastuslomake table tr td table tr td, #tarkastuslomake table tr td table tr th {
  border-style: none;
  background-color: rgb(242, 245, 253);
}
#tarkastuslomake button { padding: 10px; } 

#tarkastuslomake .infoContainer,  #tarkastuslomake .infoContainer table {
  border-spacing: 1px; 
  border-collapse: separate; 
  min-width: 0px;  
}
#tarkastuslomake .infoContainer {
  padding-left: 10px; 
}
#tarkastuslomake .infoContainer caption {
  margin-left: 10px;
  border: solid 1px rgb(130, 130, 130); 
}
#tarkastuslomake .infoContainer th {
  border: solid 1px rgb(130, 130, 130);
}
#tarkastuslomake .infoContainer td {
  vertical-align: middle;
  border: solid 1px rgb(130, 130, 130); 
}
#tarkastuslomake .infoContainer table {
  border-style: none;
}
#tarkastuslomake .infoContainer a {
  font-weight: normal;
}

/*
#section_menu { padding: 10px; }
#section_menu .section_menuitem {
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgb(218, 225, 175);
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: 2px;
}
#section_menu .selected { background-color: rgb(218, 245, 165); }
*/

#kayntitaulu { border-spacing: 0px; border-collapse: collapse; width: 1px; }
#kayntitaulu tr td, #kayntitaulu tr th { border-bottom: 1px solid rgb(130, 130, 130); }
#kayntitaulu tr td {  vertical-align: middle; }
#kayntitaulu select { max-width: 80px; min-width: 1px; }
#kayntitaulu .odd td { background-color: rgb(2234, 243, 255); }

#pesimistulostaulu select { max-width: 350px; min-width: 1px; }

.lkm_selection select { width: 40px; margin-top: 2px;} 
.max_poikanen input { width: 35px; }
#kayntitaulu .pesakunto select {  max-width: 200px; }


#tarkastuslomake .noborders { border-style: none; }
#tarkastuslomake .noborders tr td { border-style: none; } 
#tarkastuslomake .sameAsBackground tr td { background-color: rgb(255, 247, 245); }

.ohje { 
  font-weight: normal;
  font-size: 80%; 
} 

.highlightedRow td {
  background-color:  rgb(200,255,255);
}

#historyActions, #historyActions_show {
	position: absolute;
	top: 30px;
	right: 2px;
	background-color: rgb(177, 190, 255);
	margin: 10px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border: solid 1px black;
	text-align: right;
}

#historyActions {
	background-color: rgb(255, 255, 255);
	padding: 20px;
}
#historyActions_show a {color: black; }

.icon { 
	font-weight: bold; 
	font-size: 20px;
}
#historyActions table tr td, #historyActions table tr th { text-align: left; }

.changedValue {
  color: red;
  font-weight: bold;  
}

.tablemanagement select {
	max-width: 220px;
}

ul#infoTabs #selectedApplication {
	color: black;
	background: transparent;
}
	