body {
  margin: 0px;
  font-family: Verdana, sans-serif;
  font-size: 11px;
  color: black;
  background-color: rgb(147, 151, 82);
  background-image: url(img/logo_ja_teksti.gif);
  background-repeat: no-repeat;
  background-position: 0px 30px;
}  

#header {
  width: 100%;
  background-color: rgb(253, 214, 136);
  border-right-style: double;
  border-right-width: 5px;
  height: 28px;
}
#lintuvaaraLink {
  position: absolute;
  left: 40px;
  top: 5px;
}

#lintuvaaraLink a {
  font-family: arial;
  font-size: 16px;
  text-decoration: none;
}
#lintuvaaraLink a:hover { 
  color: rgb(190,90,100);
  text-decoration: underline; 
}

#infoContainer {
  position: absolute;
  right: 15px;
  top: 2px;
}

.main {
  /* min-width: 1500px; */
  margin-left: 30px;
  margin-top: 21px;
  margin-bottom: 200px; 
}

.main_menu {
  margin: 0px;
  padding-left: 70px;
  padding-bottom: 0px;
  white-space: nowrap;
}

.main_menu a {
  background-color: rgb(255, 247, 245);
  margin-left: 15px;
  border: 1px solid rgb(130, 130, 130);
  border-bottom-style: none;
  font-variant: small-caps;
  font-size: 13px;
  font-weight: bold;
  color: black;
  display: inline-block;
  padding: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sub_menu {
  background-color: rgb(255, 247, 245);
  border: 2px solid rgb(130, 130, 130);
  border-bottom-style: double;
  border-bottom-width: 3px; 
}

.sub_menu div {
  border: 1px solid rgb(130, 130, 130);
  border-bottom-style: none;
  line-height: 30px;
  margin: 5px;
  margin-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  float: left;
  font-weight: bold;
  color: black;
  font-family: Verdana, sans-serif;
  font-size: 11px;
}
.sub_menu a {
  color: black;
}

.page_content {
  background-color: rgb(255, 247, 245);
  padding: 15px;
  border: 2px solid rgb(130, 130, 130);
  border-top-style: none;
  min-width: 850px;
  padding-bottom: 50px;
}

table {   border-spacing: 0px; border-collapse: collapse; }
table, td { margin: 0px; padding: 0px; border-width: 0px; vertical-align: top; }
caption {  font-weight: bold; text-align: left; padding: 4px; }

.page_content table { 
  border-spacing: 2px; 
  border-collapse: separate;
}

.page_content td, .page_content th, .page_content caption { 
  vertical-align: middle;
  background-color: rgb(246, 253, 242); 
  padding: 4px;
  border: 1px solid rgb(215,215,215);
}

.page_content th, .page_content caption { 
  background-color: rgb(208, 218, 173);
  border-color: rgb(115,115,115); 
} 

a {
  font-weight: bold;
  text-decoration: underline;
  color: rgb(150, 50, 50);
  font-family: Verdana, sans-serif;
  text-align: center;
}

a:hover { color: #FF6600; }

.button-link {
  background-color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(130, 130, 130);
  
  font-size: 13px;
  font-weight: normal;
  color: black;
  margin-top: 40px;
}

p {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

h2 {
  font-size: 14px;
  margin: 5px;
  font-weight: bold;
  width: 100%;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

h3 {
  font-size: 15px;
  margin: 5px;
  margin-top: 15px;
  font-variant: small-caps;
  /* border-top: solid 2px black; */
  color: black;  
  padding: 3px;
  margin-left: 0px;
  /* text-shadow: 1px 2px 0 #000000; */
  /* text-shadow: 0px 0 black, 0 2px black, 2px 0 black, 0 0px black; */
}

input, select, textarea, button {
  background-color: rgb(253,248,254);
  /* color: rgb(80,80,100); */
  border: 1px;
  border-style: solid;
  border-color: rgb(130, 130, 130);
  font-size: 13px;
}

input:focus, select:focus, textarea:focus { background-color: rgb(210, 230, 255); }
button:focus, input[type=submit]:focus { background-color: rgb(255, 240, 210); }

input[type=text] {
  font-family: 'Lucida Console', Verdana, sans-serif;
  padding: 2px;
} 

input[type=submit], button, .button-link {
  color: #CC0000; 
  margin: 1px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

ul { margin-top: 1px;  margin-bottom: 1px; } 

.button-link {
  border: 1px black solid;
  border-top: 0;
  text-decoration: none; 
}


textarea {
  font-family: Verdana, sans-serif;
}

.top { vertical-align: top; }

.success { font-weight: bold; color: green; font-size: 15px; }
.error, .warning { font-weight: bold; color: red; }
.warning { color: rgb(200,130,20); }
.error td, .warning td { background-color: rgb(255, 247, 245); border-style: none; }
.errorfield { background-color: #ffaaaa; }
.warningfield { background-color: rgb(230,200,120); }
.notice { font-weight: bold; color: rgb(200,150,20); font-size: 14px; }
.ackWarning { color: green; } 

table.warning, table.error { border: 1px dashed red; }

.file { 
  padding: 0px; padding-left: 10px; padding-right: 10px; 
  background-color: #FFE6B7; 
  margin-left: 20px;
}
.file a { color: rgb(250, 0, 0); } 
.file a:hover { color: #FF6600; }

.hidden { 
	display: none; 
}
#advancedSearch .hidden {
	position: absolute;
	left: -9999px; 
	display: inherit;
}

.more_results td { background-color: rgb(242, 251, 209); }
.show_more { font-weight: normal; font-size: 10px; } 


table.tablesorter {
	font-family:arial;
	font-size: 8pt;
	text-align: center;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	font-size: 8pt;
	padding: 4px;
	padding-right: 15px;
}
table.tablesorter thead tr .header {
	background-image: url(img/sort.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	padding: 4px;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
}
table.tablesorter thead tr .headerSortUp   { background-image: url(img/sort_up.gif); }
table.tablesorter thead tr .headerSortDown { background-image: url(img/sort_down.gif); }
table.tablesorter thead tr th, table.tablesorter tbody tr td { max-width: 160px; }

#advanced_search_table td { vertical-align: top; }  
#advancedSearch  select   { max-width: 230px;   } 

#resultsTable .haavi { background-color: rgb(240,240,234); }
.haavi, .haavi td { background-color: rgb(240,240,234); vertical-align: middle; }
.haavi td { padding: 4px; }

.saved_searches { } 
.saved_searches img { border: none; margin-left: 5px; } 
.saved_searches table th { padding: 5px; }
.savedSearchesDescription { font-size: 10px; font-style:italic; }
.saved_searches td { padding: 5px; } 

 
.reports select { max-width: 100%; } 





#tarkastuslomake { min-width: 1400px; }

#tarkastuslomake table {   border-spacing: 0px; border-collapse: collapse; }
#tarkastuslomake table, #tarkastuslomake td { margin: 0px; padding: 0px; border-width: 0px; vertical-align: top; }
#tarkastuslomake caption {  font-weight: bold; text-align: left; padding: 4px; }
 
#tarkastuslomake td { border-style: none;  }

#tarkastuslomake h3 { border-bottom: solid 2px grey; }

#tarkastuslomake .disabled { background-color: rgb(235,235,235); color: grey; }

#tarkastuslomake fieldset { border: solid 1px rgb(200,200,200);  }
#tarkastuslomake fieldset label { float:left; width: 170px; }

#tarkastuslomake fieldset legend, #tarkastuslomake fieldset label { font-weight: normal;  color: rgb(30,30,30); } 
#tarkastuslomake fieldset legend { padding-left: 10px; padding-right: 10px; }

#tarkastuslomake .paaosio { min-width: 700px; }

#tarkastuslomake .osio { 
	border: solid 1px rgb(110,110,110);
	margin-bottom: 20px;
}
#tarkastuslomake td { background-color: rgb(255, 247, 245);  }
#tarkastuslomake .osio td {	background-color: rgb(245, 245, 245); }

#tarkastuslomake .muuta { 
	font-size: 90%; 
	border: 1px solid grey; 
	display: block; 
	padding: 5px;  
	background-color: rgb(255, 247, 245);
}
#tarkastuslomake .muuta:hover, #tarkastuslomake .muuta:focus  { background-color: rgb(210, 230, 255); }

/*
#kayntitaulu { border-spacing: 0px; border-collapse: collapse; width: 1px; }
#kayntitaulu tr td, #kayntitaulu tr th { border-bottom: 1px solid rgb(130, 130, 130); }
#kayntitaulu tr td {  vertical-align: middle; }
#kayntitaulu select { max-width: 80px; min-width: 1px; }
*/
#kayntitaulu td { 
	padding: 3px; 
	border: 1px solid grey;
} 
#kayntitaulu .odd td { background-color: rgb(234, 233, 235); }

#koordinaatit td { padding: 5px; }
#loytopontto td { padding-right: 5px; }
#reunavaikutus select { max-width: 240px; }
fieldset#pontto { border-style: none; }
#poikasetAikuisetMunat select { max-width: 120px; }
#poikasetAikuisetMunat td { padding: 5px; }
#yhdyskunnassa select { max-width: 240px; }
.poikAik { width: 740px; }
.addNewRowButton { color: green; margin-left: 30px;}

.popupBoxElement {
	position: fixed; 
	top: 5%; 
	left: 20%;
	background-color: rgb(147, 151, 82);
	padding: 40px;
	padding-top: 1px;
	padding-bottom: 30px;
	border: 3px solid black;
	text-align: right;
}

.ohje { 
  font-weight: normal;
  font-size: 80%; 
} 

#historyActions, #historyActions_show {
	position: absolute;
	top: 30px;
	right: 2px;
	background-color: rgb(177, 190, 255);
	margin: 10px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border: solid 1px black;
	text-align: right;
}

#historyActions {
	background-color: rgb(255, 255, 255);
	padding: 20px;
}
#historyActions_show a {color: black; }

.icon { 
	font-weight: bold; 
	font-size: 20px;
}
#historyActions table tr td, #historyActions table tr th { text-align: left; }


.sameAsBackground, .sameAsBackground td { background-color: rgb(255, 247, 245); }
.noborders, .noborders td { border-style: none; }



#tarkastuslomake .infoContainer,  #tarkastuslomake .infoContainer table {
  border-spacing: 1px; 
  border-collapse: separate; 
  min-width: 0px; 
  max-width: 700px;
}
#tarkastuslomake .infoContainer {
  padding-left: 10px; 
}
#tarkastuslomake .infoContainer caption {
  margin-left: 10px;
  border: solid 1px rgb(130, 130, 130); 
}
#tarkastuslomake .infoContainer th {
  border: solid 1px rgb(130, 130, 130);
}
#tarkastuslomake .infoContainer td {
  vertical-align: middle;
  border: solid 1px rgb(130, 130, 130); 
  padding: 3px;
}
#tarkastuslomake .infoContainer table {
  border-style: none;
}
#tarkastuslomake .infoContainer a {
  font-weight: normal;
}

#tarkastuslomake .infoContainer .highlightedRow td {
  background-color:  rgb(200,255,255);
}

.changedValue {
  color: red;
  font-weight: bold;  
}
